html {
  /* Change default typefaces here */
  font-family: serif;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p, li {
  font-size: 1rem;
  line-height: 1.9rem;
  margin: 1rem 0 2rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1, .h1 {
  font-size: 3.6rem;
  line-height: .8rem;
  margin-top: 3rem;
}
h2, .h2 {
  font-size: 2.3rem;
  line-height: 1.2rem;
  font-weight: 800;
}
h3, .h3 {
  font-size: 1.414rem;
}
h4, .h4 {
  font-size: 0.707rem;
}
h5, .h5 {
  font-size: 0.4713333333333333rem;
}
h6, .h6 {
  font-size: 0.3535rem;
}


// Variables
$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;

$size-xs: 13px; // extra small devices
$size-sm: 15px; // small devices
$size-md: 17px; // medium devices
$size-lg: 19px; // large devices
$size-xl: 21px; // extra large devices
$size-xxl: 23px; // extra extra large devices

// Mixins

@mixin xs {
  @media only screen and (max-width: $xsBreakpoint){
    @content
  }
};
  
@mixin sm {
  @media only screen and (min-width: calc($xsBreakpoint + 1px)){
    @content
  }
};
  
@mixin md {
  @media only screen and (min-width: $mdBreakpoint){
    @content
  }
};
  
@mixin lg {
  @media only screen and (min-width: $lgBreakpoint){
    @content
  }
};
  
@mixin xl {
  @media only screen and (min-width: $xlBreakpoint){
    @content
  }
};

// Body style
html {
  @include xs {
    font-size: $size-xs;
  }  
  @include sm {
    font-size: $size-sm;
  }  
  @include md {
    font-size: $size-md;
  }  
  @include lg {
    font-size: $size-lg;
  }  
  @include xl {
    font-size: $size-xl;
  }
}